{% extends 'base.html'%}

{% load static %}
{% block title%} Dashboard {%endblock title%}

{%block content%}
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      {% include 'sidebar.html' %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        {% include 'navbar.html' %}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">{{total_licenses}}</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Total valid licenses</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">{{blocked}}</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Blocked license areas</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">{{registed}}</h3>
                          <p class="text-danger ml-2 mb-0 font-weight-medium"></p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Recently registered applications</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">{{pending}}</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-danger ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Pending applications</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="content-wrapper">
                  <div class="page-header">
                    <h3 class="page-title"> Charts </h3>
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Charts</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Chart</li>
                      </ol>
                    </nav>
                  </div>
                  <div class="row">
                    <!-- <div class="col-lg-6 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Pie chart</h4>
                          <canvas id="myPieChart" style="height:350px"></canvas>
                        </div>
                      </div>
                    </div> -->
                    <div class="col-lg-12 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Valid license</h4>
                          <canvas id="myChart" style="height:400px width:100%;"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>                   
                  
                </div>
              </div>
            </div>
            
           
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Valid Licenses</h4>
                    <div class="table-responsive">
                      <table class="table display" id="example" class="" style="width:100%">
                        <thead>
                          <tr>
                            <!-- <th>
                              <div class="form-check form-check-muted m-0">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                </label>
                              </div>
                            </th> -->
                            <th> Code</th>
                            <th> Type</th>
                            <th> Status </th>  
                            <th> Name</th>  
                            <th> Expiry date</th> 
                            <th> Holder </th>  
                            <th> Core Id</th> 
                            <!-- <th> Date</th>                          -->
                          </tr>
                        </thead>
                        <tbody>
                        {% for license in licenses %}
                          <tr> 
                            <td>
                              <a href="{% url 'valid-detail' license.id %}" style="text-decoration: none;">                             
                                <span class="pl-2">{{ license.code}}</span>
                              </a>
                            </td>                            
                            <td> {{license.type}} </td>                                                      
                            <td>
                              <div class="badge badge-outline-success">{{ license.status}}</div>
                            </td>
                            <td> {{license.name}} </td>  
                            <td> {{license.expiry_date}} </td>  
                            <td> {{license.holder}} </td> 
                            <td> {{license.core_id}} </td> 
                          </tr> 
                        </a> 
                          {% endfor %}                        
                        </tbody>
                        
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
            
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright ©  2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a href="#" target="_blank">dorogis</a></span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <p style="display:none" id="hide1">{{years}}</p>
    <!-- container-scroller -->
     {% block chat%}
     <script>
       $().ready(function(){
       const ctx = document.getElementById('myChart');
       const hide1 = document.getElementById('hide1').innerText;
       
     
       new Chart(ctx, {
         type: 'bar',
         data: {
           labels: [1995, 1997, 2004, 2005, 2006, 2007, 2008, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024],
           datasets: [{
             label: 'valid licences',
             data: [1, 1, 1, 155, 14, 52, 1, 59, 40, 27, 34, 63, 100, 169, 294, 341, 377, 716, 1665, 1770, 3794, 1306],
             borderWidth: 1
           }]
         },
          options: {
            responsive: false,
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        const ctx1 = document.getElementById('myPieChart');
        new Chart(ctx1, {
         type: 'doughnut',
         options: {
          responsive: false,
         },
         data: {
            labels: [1995, 1997, 2004, 2005, 2006, 2007, 2008, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024],
            datasets: [{
              label: 'My First Dataset',
              data: [1, 1, 1, 155, 14, 52, 1, 59, 40, 27, 34, 63, 100, 169, 294, 341, 377, 716, 1665, 1770, 3794, 1306],
              backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)',
                'rgb(176, 76, 176) ',
                'rgb (79, 252, 16) ',
                'rgb (73, 161, 228) ',
                'rgb (76, 149, 56) ',
                'rgb (156, 118, 125) ',
                'rgb (73, 195, 17) ',
                'rgb (47, 100, 96) ',
                'rgb (58, 104, 87) ',
                'rgb (50, 37, 49) ',
                'rgb (245, 174, 178) ',
                'rgb (217, 250, 202) ',
                'rgb (225, 77, 94) ',
                'rgb (247, 196, 220) ',
                'rgb (122, 166, 226) ',
                'rgb (134, 74, 227) ',
                'rgb (240, 199, 17) ',
                'rgb (72, 235, 9) ',
                'rgb (135, 188, 18)'
              ],
              hoverOffset: 2
            }]
          }
        });        

       })      
     </script>
     {% endblock chat%}
    
   {% endblock content%}
   